

/* Table of Content
==================================================
	#Imports
	#Variables
	#Reset
	#Basic Styles
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* COMPASS IMPORTS
================================================= */
@import "compass/css3";

/* VARIABLES
================================================= */
$black: #000000;
$white: #ffffff;
$red: #d1202f;


/*

Provide variables for all colors and fonts. Examples:

$red: #E31B23;
$minion:"minion-pro";

*/


/* #Basic Styles
================================================== */
body {

 }

.black-bg{
	background-color:$black;
} 


/* #Buttons
================================================== */

button{}

/* #Forms
================================================== */

input[type="text"]{}
input[type="password"]{}
input[type="search"]{}
input[type="email"]{}
input[type="number"]{}
input[type="submit"]{}


/* #Forms
================================================== */


/* #Images
================================================== */

img {
	max-width: 100%;
	height: auto; }

/* WordPress Image Styles
   ========================================================================== */

.alignnone {margin:5px 20px 20px 0;}
.aligncenter,div.aligncenter {display:block;margin:5px auto 5px auto;}
.alignright {float:right;margin:5px 0 20px 20px;}
.alignleft {float:left;margin:5px 20px 20px 0;}
.aligncenter {display:block;margin:5px auto 5px auto;}
a img.alignright {float:right;margin:5px 0 20px 20px;}
a img.alignnone {margin:5px 20px 20px 0;}
a img.alignleft {float:left;margin:5px 20px 20px 0;}
a img.aligncenter {display:block;margin-left:auto;margin-right:auto;}
.wp-caption {background:#FFF;max-width:96%;padding:5px 3px 10px;text-align:center;}
.wp-caption.alignnone {margin:5px 20px 20px 0;}
.wp-caption.alignleft {margin:5px 20px 20px 0;}
.wp-caption.alignright {margin:5px 0 20px 20px;}
.wp-caption img {border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto;}
.wp-caption p.wp-caption-text,.gallery-caption {font-size:11px;line-height:17px;margin:0;padding:0 4px 5px;}
.sticky {}
.bypostauthor {}
	.add-bottom { margin-bottom: 20px !important; }





/* Tables
================================================== */
table{ 
	width: 100%;
	padding: 20px 0 20px 0;
	th{
		padding: 8px 2px;
		font-weight: bold;
		font-size: 14px;
		border-bottom: 2px solid $black;
		border-right: 30px solid #fff;
		border-left: 30px solid #fff;
		color: $black;

	}
	td{
		padding: 12px 2px 0px 2px;
		border-right: 30px solid #fff;
		border-left: 30px solid #fff;
		color:$black;
	}
  
 
}	
